<div class="titel">{{page}}</div>

<div style="display: grid; grid-template-columns: 12.5rem 12.5rem;">

  <div id="left" class="linkeseite">
    <div id="1L">
      <p class="schrift">{{menuEntriesLeft[0][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[0][1]}}</p>
    </div>
    <div id="2L">
      <p class="schrift">{{menuEntriesLeft[1][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[1][1]}}</p>
    </div>
    <div id="3L">
      <p class="schrift">{{menuEntriesLeft[2][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[2][1]}}</p>
    </div>
    <div id="4L">
      <p class="schrift">{{menuEntriesLeft[3][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[3][1]}}</p>
    </div>
    <div id="5L">
      <p class="schrift">{{menuEntriesLeft[4][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[4][1]}}</p>
    </div>
    <div id="6L">
      <p class="schrift">{{menuEntriesLeft[5][0]}}</p>
      <p class="schrift">{{menuEntriesLeft[5][1]}}</p>
    </div>
  </div>


  <div id="right" class="rechteseite">
    <div id="1R">
      <p class="schrift">{{menuEntriesRight[0][0]}}</p>
      <p class="schrift">{{menuEntriesRight[0][1]}}</p>
    </div>
    <div id="2R">
      <p class="schrift">{{menuEntriesRight[1][0]}}</p>
      <p class="schrift">{{menuEntriesRight[1][1]}}</p>
    </div>
    <div id="3R">
      <p class="schrift">{{menuEntriesRight[2][0]}}</p>
      <p class="schrift">{{menuEntriesRight[2][1]}}</p>
    </div>
    <div id="4R">
      <p class="schrift">{{menuEntriesRight[3][0]}}</p>
      <p class="schrift">{{menuEntriesRight[3][1]}}</p>
    </div>
    <div id="5R">
      <p class="schrift">{{menuEntriesRight[4][0]}}</p>
      <p class="schrift">{{menuEntriesRight[4][1]}}</p>
    </div>
    <div id="6R">
      <p class="schrift">{{menuEntriesRight[5][0]}}</p>
      <p class="schrift">{{menuEntriesRight[5][1]}}</p>
    </div>
  </div>

</div>

<p class="schrift">{{store}}</p>
