<div class="titel">{{page}}</div>

<div style="display: grid; grid-template-columns: 12.5rem 12.5rem;">

  <div id="left" class="linkeseite">
    <!--div *ngFor="let data of menuEntriesLeft; let i = index;">
      <p *ngIf="i<6" class="schrift">{{data}}</p>
    </div-->
    <div id="1L"><p class="schrift">{{menuEntriesLeft[0][0]}}</p></div>
    <div id="2L"><p class="schrift">{{menuEntriesLeft[1][0]}}</p></div>
    <div id="3L"><p class="schrift">{{menuEntriesLeft[2][0]}}</p></div>
    <div id="4L"><p class="schrift">{{menuEntriesLeft[3][0]}}</p></div>
  </div>


  <div class="rechteseite">
    <div style="grid-area: 6/1;">
      <p class="schrift">{{menuEntriesRight[0][0]}}</p>
    </div>
  </div>

</div>

<div class="info schrift">{{information}}</div>

