.schrift {
  font-family: "Lucida Console", monospace;
  color: forestgreen;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.titel {
  display: flex;
  padding-top: .5rem;
  justify-content: center;
  font-family: "Lucida Console", monospace;
  color: forestgreen;
  font-size: 1.1rem;
}

.linkeseite {
  display: grid;
  padding-left: 1rem;
  grid-template-columns: 11.5rem;
  grid-template-rows: repeat(6, 2.9rem);
  justify-items: start;
  align-items: center;
}

.rechteseite {
  display: grid;
  padding-right: 1rem;
  grid-template-columns: 11.5rem;
  grid-template-rows: repeat(6, 2.9rem);
  align-items: center;
  justify-items: end;
}

.info {
  display: flex;
  justify-content: center;
  transform: translateY(-.5rem);
}
