.rahmen {
  width: 35rem;
  height: 50rem;
  background: gray;
}

.kopf {
  height: 2.5rem;
}

.oberteil {
  display: flex;
  width: 100%;
}

.unterteil {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.knopf_leiste_rahmen {
  padding-top: 1.5rem;
  display: flex;
  padding-bottom: 1.5rem;
}

.knopf_leiste {
  display: grid;
  grid-template-columns: 5rem;
  grid-template-rows: repeat(6, 2.9rem);
  justify-items: center;
  align-items: center;
}

.knopf {
  width: 2.5rem;
  height: 2rem;
  background: black;
  color: beige;
}

.knopf_menu {
  width: 3.5rem;
  height: 2rem;
  background: black;
  color: beige;
}

.rund {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.display {
  width: 25rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 3%;
  background: black;
}

.große_zahl {
  font-size: 30px;
}

.kleine_schrift {
  font-size: 10px;
}

.rand {
  border: 2px solid beige;
}
