<div class="rahmen">
  <div class="kopf"></div>
  <div class="oberteil">
    <div class="knopf_leiste_rahmen">
      <div class="knopf_leiste">
        <button #id1L id="1L" class="knopf" (click)="onClick(id1L)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id2L id="2L" class="knopf" (click)="onClick(id2L)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id3L id="3L" class="knopf" (click)="onClick(id3L)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id4L id="4L" class="knopf" (click)="onClick(id4L)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id5L id="5L" class="knopf" (click)="onClick(id5L)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id6L id="6L" class="knopf" (click)="onClick(id6L)">
          <div style="border: 4px solid beige;"></div>
        </button>
      </div>
    </div>
    <div class="display">
      <router-outlet></router-outlet>
    </div>
    <div class="knopf_leiste_rahmen">
      <div class="knopf_leiste">
        <button #id1R id="1R" class="knopf" (click)="onClick(id1R)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id2R id="2R" class="knopf" (click)="onClick(id2R)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id3R id="3R" class="knopf" (click)="onClick(id3R)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id4R id="4R" class="knopf" (click)="onClick(id4R)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id5R id="5R" class="knopf" (click)="onClick(id5R)">
          <div style="border: 4px solid beige;"></div>
        </button>
        <button #id6R id="6R" class="knopf" (click)="onClick(id6R)">
          <div style="border: 4px solid beige;"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="unterteil">
    <div
      style="display: flex; flex-direction: column; padding-left: 4.5rem; padding-top: .5rem;">
      <div style="display: grid; grid-template-columns: repeat(6, 3.5rem); grid-column-gap: .5rem; padding-top: .5rem;">
        <button #id1M id="1M" class="knopf_menu" (click)="onClick(id1M)" routerLink='/DIR'>DIR</button>
        <button #id2M id="2M" class="knopf_menu" (click)="onClick(id2M)" routerLink='/PROG'>PROG</button>
        <button #id3M id="3M" class="knopf_menu" (click)="onClick(id3M)">PERF</button>
        <button #id4M id="4M" class="knopf_menu" (click)="onClick(id4M)">INT</button>
        <button #id5M id="5M" class="knopf_menu" (click)="onClick(id5M)">DATA</button>
        <button #id6M id="6M" class="knopf_menu" (click)="onClick(id6M)"></button>
      </div>
      <div style="display: grid; grid-template-columns: repeat(6, 3.5rem); grid-column-gap: .5rem; padding-top: .5rem;">
        <button #id7M id="7M" class="knopf_menu" (click)="onClick(id7M)">F-PLN</button>
        <button #id8M id="8M" class="knopf_menu" (click)="onClick(id8M)">RAD NAV</button>
        <button #id9M id="9M" class="knopf_menu" (click)="onClick(id9M)">FUEL PRED</button>
        <button #id10M id="10M" class="knopf_menu" (click)="onClick(id10M)">SEC F-PLN</button>
        <button #id11M id="11M" class="knopf_menu" (click)="onClick(id11M)">ATC COMM</button>
        <button #id12M id="12M" class="knopf_menu" (click)="onClick(id12M)">MCDU MENU</button>
      </div>
    </div>
    <div style="display: flex;">
      <div style="display: flex; flex-direction: column">
        <div style="display: grid; grid-template-columns: 3.5rem 3.5rem; grid-column-gap: .5rem; grid-row-gap: .5rem;
     padding-top: 0.5rem; padding-left: 4.5rem;">
          <button #id13M id="13M" class="knopf_menu" (click)="onClick(id13M)">AIR PORT</button>
          <button #id14M id="14M" class="knopf_menu" (click)="onClick(id14M)"></button>
          <button #id15M id="15M" class="knopf_menu" (click)="onClick(id15M)">LEFT</button>
          <button #id16M id="16M" class="knopf_menu" (click)="onClick(id16M)">UP</button>
          <button #id17M id="17M" class="knopf_menu" (click)="onClick(id17M)">RIGHT</button>
          <button #id18M id="18M" class="knopf_menu" (click)="onClick(id18M)">DOWN</button>
        </div>
        <div style="display: grid; grid-template-columns: repeat(3, 2rem); grid-column-gap: 1rem;
      padding-left: 4.75rem; padding-top: 1rem; grid-row-gap: .5rem;">
          <button #id19N id="19N" class="knopf_menu rund große_zahl" (click)="onClick(id19N)">1</button>
          <button #id20N id="20N" class="knopf_menu rund große_zahl" (click)="onClick(id20N)">2</button>
          <button #id21N id="21N" class="knopf_menu rund große_zahl" (click)="onClick(id21N)">3</button>
          <button #id22N id="22N" class="knopf_menu rund große_zahl" (click)="onClick(id22N)">4</button>
          <button #id23N id="23N" class="knopf_menu rund große_zahl" (click)="onClick(id23N)">5</button>
          <button #id24N id="24N" class="knopf_menu rund große_zahl" (click)="onClick(id24N)">6</button>
          <button #id25N id="25N" class="knopf_menu rund große_zahl" (click)="onClick(id25N)">7</button>
          <button #id26N id="26N" class="knopf_menu rund große_zahl" (click)="onClick(id26N)">8</button>
          <button #id27N id="27N" class="knopf_menu rund große_zahl" (click)="onClick(id27N)">9</button>
          <button #id28N id="28N" class="knopf_menu rund große_zahl" (click)="onClick(id28N)">.</button>
          <button #id29N id="29N" class="knopf_menu rund große_zahl" (click)="onClick(id29N)">0</button>
          <button #id30N id="30N" class="knopf_menu rund" (click)="onClick(id30N)">+/-</button>
        </div>
      </div>
      <div style="display: grid; grid-template-columns: repeat(5, 2.5rem);
      padding-left: 2rem; padding-top: 1.5rem; grid-column-gap: .5rem;">
        <button #id28A id="28A" class="knopf" (click)="onClick(id28A)">A</button>
        <button #id29A id="29A" class="knopf" (click)="onClick(id29A)">B</button>
        <button #id30A id="30A" class="knopf" (click)="onClick(id30A)">C</button>
        <button #id31A id="31A" class="knopf" (click)="onClick(id31A)">D</button>
        <button #id32A id="32A" class="knopf rand" (click)="onClick(id32A)">E</button>
        <button #id33A id="33A" class="knopf" (click)="onClick(id33A)">F</button>
        <button #id34A id="34A" class="knopf" (click)="onClick(id34A)">G</button>
        <button #id35A id="35A" class="knopf" (click)="onClick(id35A)">H</button>
        <button #id36A id="36A" class="knopf" (click)="onClick(id36A)">I</button>
        <button #id37A id="37A" class="knopf" (click)="onClick(id37A)">J</button>
        <button #id38A id="38A" class="knopf" (click)="onClick(id38A)">K</button>
        <button #id39A id="39A" class="knopf" (click)="onClick(id39A)">L</button>
        <button #id40A id="40A" class="knopf" (click)="onClick(id40A)">M</button>
        <button #id41A id="41A" class="knopf rand" (click)="onClick(id41A)">N</button>
        <button #id42A id="42A" class="knopf" (click)="onClick(id42A)">O</button>
        <button #id43A id="43A" class="knopf" (click)="onClick(id43A)">P</button>
        <button #id44A id="44A" class="knopf" (click)="onClick(id44A)">Q</button>
        <button #id45A id="45A" class="knopf" (click)="onClick(id45A)">R</button>
        <button #id46A id="46A" class="knopf rand" (click)="onClick(id46A)">S</button>
        <button #id47A id="47A" class="knopf" (click)="onClick(id47A)">T</button>
        <button #id48A id="48A" class="knopf" (click)="onClick(id48A)">U</button>
        <button #id49A id="49A" class="knopf" (click)="onClick(id49A)">V</button>
        <button #id50A id="50A" class="knopf rand" (click)="onClick(id50A)">W</button>
        <button #id51A id="51A" class="knopf" (click)="onClick(id51A)">X</button>
        <button #id52A id="52A" class="knopf" (click)="onClick(id52A)">Y</button>
        <button #id53A id="53A" class="knopf" (click)="onClick(id53A)">Z</button>
        <button #id54A id="54A" class="knopf" (click)="onClick(id54A)">/</button>
        <button #id55A id="55A" class="knopf" (click)="onClick(id55A)">SP</button>
        <button #id56A id="56A" class="knopf kleine_schrift" (click)="onClick(id56A)">OVFY</button>
        <button #id57A id="57A" class="knopf" (click)="onClick(id57A)">CLR</button>
      </div>
    </div>
  </div>
</div>
